<h2>Timeline: <small>Built with TimeLine-Setter gem</small></h2>
<hr>

<div id="timeline"></div>
  <script type="text/javascript">
  window.addEventListener('load', function () {
  var currentTimeline  = TimelineSetter.Timeline.boot(
      [{"date":"Jan. 25, 2017","display_date":"","description":"","link":"","series":"Programming Learning","html":"<h2 class=\"timeline-img-hed\">Alex starts building this site</h2>","timestamp":1485320400000},{"date":"Dec. 03, 2014","display_date":"","description":"1. Reviewed incoming applications for legislative policies and programs to determine if financial requirements were met and whether projects were eligible for government financial support based on the RFP requirements.\r2. Analyzed DTE Energy financial statements (income statement, balance sheet, cash flow, and discounted cash flow) to determine projected four-year financial risk and created an interactive model for forecasting financial growth. \r3. Created a document in Excel that automatically turned raw, unorganized data into a dynamic budget report with organized tables and changing graphs that was sent out to 6 sub-departments on a monthly basis.\r","link":"","series":"Work Experience","html":"<h2 class=\"timeline-img-hed\">Alex starts working at The Department of Energy</h2><img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Seal_of_the_United_States_Department_of_Energy.svg/175px-Seal_of_the_United_States_Department_of_Energy.svg.png\" width=\"225\" height=\"225\">","timestamp":1417582800000},{"date":"Jan. 05, 2015","display_date":"","description":"","link":"","series":"Programming Learning","html":"<h2 class=\"timeline-img-hed\">Alex starts teaching himself VBA for Excel during his downtime at work</h2>","timestamp":1420434000000},{"date":"Apr. 04, 2015","display_date":"","description":"He joins Thelan Consulting looks for a more challenging working experience and develop his technical skills.","link":"","series":"Work Experience","html":"<h2 class=\"timeline-img-hed\">Alex joins Thelan Consulting</h2><img src=\"https://media.glassdoor.com/sqll/912589/thelan-squarelogo-1417026395947.png\">","timestamp":1428120000000},{"date":"21-May-15","display_date":"","description":"Alex develops a series of VBA code suites across a portfolio of 5 technical projects saving approximately 12 combined hours of manual labor per week for Deloitte employees","link":"","series":"Work Experience","html":"<h2 class=\"timeline-img-hed\">VBA Work</h2>","timestamp":1432180800000},{"date":"Jul. 06, 2015","display_date":"","description":"Alex starts building KPIs with Tableau for IRS clients.","link":"","series":"Programming Learning","html":"<h2 class=\"timeline-img-hed\">Tableau Work</h2>","timestamp":1436155200000},{"date":"Dec. 11, 2013","display_date":"","description":"","link":"","series":"College","html":"<h2 class=\"timeline-img-hed\">Alex graduate from George Washington University with a B.B.A</h2><img src=\"https://physics.columbian.gwu.edu/sites/physics.columbian.gwu.edu/files/downloads/gwu_logo_detail.png\" width=\"280\" height=\"152\">","timestamp":1386738000000},{"date":"Apr. 04, 2016","display_date":"","description":"Alex leaves Thelan Consulting to pursue a more technology based job at KCIC.","link":"","series":"Work Experience","html":"<h2 class=\"timeline-img-hed\">Alex takes a job offer at KCIC</h2>","timestamp":1459742400000},{"date":"Jun. 19, 2016","display_date":"","description":"Alex learns SQL and created VBA automations in Access and Excel, linking to data in SQL, to create weekly reports saving approximately 17 hours a week.","link":"","series":"Programming Learning","html":"<h2 class=\"timeline-img-hed\">SQL Work</h2>","timestamp":1466308800000},{"date":"Sep. 23, 2016","display_date":"","description":"Alex leaves KCIC due to the lack of technology based work. Alex starts at The Iron Yard to learn Rails, Ruby, Postgres, HTML/CSS and JavaScript","link":"","series":"Work Experience","html":"<h2 class=\"timeline-img-hed\">Alex quits KCIC to take programming bootcamp</h2>","timestamp":1474603200000},{"date":"Jan. 09, 2017","display_date":"","description":"Alex finishes building his capstone project. He built a website for a Wikipedia game where the goal is to navigate from one random article page to another by only clicking available links. The code stores the number of clicks a user has made per game, renders pages in the same format as Wikipedia without leaving the game site, and creates a visual graph of the paths taken","link":"https://goo.gl/u5MEkT","series":"Programming Learning","html":"<h2 class=\"timeline-img-hed\">Alex joins Thelan Consulting</h2><img src=\"https://i.ytimg.com/vi/zV0_JuUGixY/maxresdefault.jpg\" width=\"684\" height=\"385\">","timestamp":1483938000000},{"date":"Feb. 18, 2016","display_date":"","description":"Alex finishes building an information pipeline in VBA for a nonprofit called \"A Dollar a Tree\" to automatically update a Tableau dashboard showing donors the planting location of tress to they donated.","link":"","series":"Work Experience","html":"<h2 class=\"timeline-img-hed\">Dollar a Tree</h2>","timestamp":1455771600000}],
      {"interval":"","container":"#timeline"}
    );
  });
  </script>
  <noscript>
    <table>
      <thead>
        <tr>
          <th>date</th>
          <th>series</th>
          <th>description</th>
          <th>link</th>
          <th>html</th>
        </tr>
      </thead>
      <tbody>

          <tr>
            <td>Jan. 25, 2017</td>
            <td>Programming Learning</td>
            <td></td>
            <td></td>
            <td><h2 class="timeline-img-hed">Alex starts building this site</h2></td>
          </tr>

          <tr>
            <td>Dec. 03, 2014</td>
            <td>Work Experience</td>
            <td>1. Reviewed incoming applications for legislative policies and programs to determine if financial requirements were met and whether projects were eligible for government financial support based on the RFP requirements.
2. Analyzed DTE Energy financial statements (income statement, balance sheet, cash flow, and discounted cash flow) to determine projected four-year financial risk and created an interactive model for forecasting financial growth.
3. Created a document in Excel that automatically turned raw, unorganized data into a dynamic budget report with organized tables and changing graphs that was sent out to 6 sub-departments on a monthly basis.
</td>
            <td></td>
            <td><h2 class="timeline-img-hed">Alex starts working at The Department of Energy</h2><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Seal_of_the_United_States_Department_of_Energy.svg/175px-Seal_of_the_United_States_Department_of_Energy.svg.png" width="225" height="225"></td>
          </tr>

          <tr>
            <td>Jan. 05, 2015</td>
            <td>Programming Learning</td>
            <td></td>
            <td></td>
            <td><h2 class="timeline-img-hed">Alex starts teaching himself VBA for Excel during his downtime at work</h2></td>
          </tr>

          <tr>
            <td>Apr. 04, 2015</td>
            <td>Work Experience</td>
            <td>He joins Thelan Consulting looks for a more challenging working experience and develop his technical skills.</td>
            <td></td>
            <td><h2 class="timeline-img-hed">Alex joins Thelan Consulting</h2><img src="https://media.glassdoor.com/sqll/912589/thelan-squarelogo-1417026395947.png"></td>
          </tr>

          <tr>
            <td>21-May-15</td>
            <td>Work Experience</td>
            <td>Alex develops a series of VBA code suites across a portfolio of 5 technical projects saving approximately 12 combined hours of manual labor per week for Deloitte employees</td>
            <td></td>
            <td><h2 class="timeline-img-hed">VBA Work</h2></td>
          </tr>

          <tr>
            <td>Jul. 06, 2015</td>
            <td>Programming Learning</td>
            <td>Alex starts building KPIs with Tableau for IRS clients.</td>
            <td></td>
            <td><h2 class="timeline-img-hed">Tableau Work</h2></td>
          </tr>

          <tr>
            <td>Dec. 11, 2013</td>
            <td>College</td>
            <td></td>
            <td></td>
            <td><h2 class="timeline-img-hed">Alex graduate from George Washington University with a B.B.A</h2><img src="https://physics.columbian.gwu.edu/sites/physics.columbian.gwu.edu/files/downloads/gwu_logo_detail.png" width="280" height="152"></td>
          </tr>

          <tr>
            <td>Apr. 04, 2016</td>
            <td>Work Experience</td>
            <td>Alex leaves Thelan Consulting to pursue a more technology based job at KCIC.</td>
            <td></td>
            <td><h2 class="timeline-img-hed">Alex takes a job offer at KCIC</h2></td>
          </tr>

          <tr>
            <td>Jun. 19, 2016</td>
            <td>Programming Learning</td>
            <td>Alex learns SQL and created VBA automations in Access and Excel, linking to data in SQL, to create weekly reports saving approximately 17 hours a week.</td>
            <td></td>
            <td><h2 class="timeline-img-hed">SQL Work</h2></td>
          </tr>

          <tr>
            <td>Sep. 23, 2016</td>
            <td>Work Experience</td>
            <td>Alex leaves KCIC due to the lack of technology based work. Alex starts at The Iron Yard to learn Rails, Ruby, Postgres, HTML/CSS and JavaScript</td>
            <td></td>
            <td><h2 class="timeline-img-hed">Alex quits KCIC to take programming bootcamp</h2></td>
          </tr>

          <tr>
            <td>Jan. 09, 2017</td>
            <td>Programming Learning</td>
            <td>Alex finishes building his capstone project. He built a website for a Wikipedia game where the goal is to navigate from one random article page to another by only clicking available links. The code stores the number of clicks a user has made per game, renders pages in the same format as Wikipedia without leaving the game site, and creates a visual graph of the paths taken</td>
            <td>https://goo.gl/u5MEkT</td>
            <td><h2 class="timeline-img-hed">Alex joins Thelan Consulting</h2><img src="https://i.ytimg.com/vi/zV0_JuUGixY/maxresdefault.jpg" width="684" height="385"></td>
          </tr>

          <tr>
            <td>Feb. 18, 2016</td>
            <td>Work Experience</td>
            <td>Alex finishes building an information pipeline in VBA for a nonprofit called "A Dollar a Tree" to automatically update a Tableau dashboard showing donors the planting location of tress to they donated.</td>
            <td></td>
            <td><h2 class="timeline-img-hed">Dollar a Tree</h2></td>
          </tr>

      </tbody>
    </table>
  </noscript>
