<div id="timeline"></div>

<noscript>
  <table>
    <thead>
      <tr>
        <th>date</th>
        <th>series</th>
        <th>description</th>
        <th>link</th>
        <th>html</th>
      </tr>
    </thead>
    <tbody>

        <tr>
          <td>Feb. 18, 2003</td>
          <td>Brock Savelkoul</td>
          <td>Brock Savelkoul joins the Army and is stationed at Fort Riley, Kan., in the artillery division. His assigned position is artillery survey, meaning he prepares terrain for mounting artillery canon.</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Aug. 10, 2003</td>
          <td>Brock Savelkoul</td>
          <td>Savelkoul deploys to Iraq, where he is based at Camp Forehead, near the Mansour District of Baghdad. </td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Dec. 1, 2003</td>
          <td>Brock Savelkoul</td>
          <td>Savelkoul and his unit are ambushed in the Mansour district. Many of them are shaken by the experience.</td>
          <td></td>
          <td><h2 class="timeline-img-hed">Savelkoul Joins the Army</h2><img src="http://maps.google.com/maps/api/staticmap?size=300x200&markers=color:blue|Fort%20Riley,KS&sensor=false&zoom=6" width="300" height="200"><iframe width="560" height="315" src="http://www.youtube.com/embed/bh4qAJDUOcc" frameborder="0" allowfullscreen></iframe></td>
        </tr>

        <tr>
          <td>Oct. 9, 2005</td>
          <td>Brock Savelkoul</td>
          <td>Savelkoul, who learned how to operate Ravens, or small surveillance drones used to fly above roads to make sure they're clear of bombs, is quoted in an article for a base newsletter: "We're protecting them from the sky."</td>
          <td>http://www.dvidshub.net/publication/issues/0388</td>
          <td></td>
        </tr>

        <tr>
          <td>Oct. 1, 2006</td>
          <td>Derrick Junge</td>
          <td>Junge leaves the Air Force.</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Nov. 1, 2006</td>
          <td>Derrick Junge</td>
          <td>Junge enlists in the Army.</td>
          <td></td>
          <td></td>
        </tr>

    </tbody>
  </table>
</noscript>
